@use '../variables' as *;
@use '../mixin' as *;

.details {
    padding: 40px 20px;

    &__span {
        @include font($roboto, 13px, 700, 18px, $black900);
        letter-spacing: 2.8px;
    }

    &__title {
        @include font($old, 40px, 400, 48px, $black900);
        letter-spacing: -1.4px;
    }

    &__price {
        @include font($roboto, 32px, 700, 43px, $mainColor);
        margin: 16px 0;

        span {
            @include font($roboto, 13px, 700, 43px, $mainColor);
            text-transform: capitalize;
        }
    }

    &__image {
        width: 100%;
        height: 214px;
        object-fit: cover;
    }
}